body {
    margin:0px;
    padding:0px;
    font-family: 'Courier New', Courier, monospace;
}
#content {
    margin-bottom: 38px; 
}
.form {
    
    display: flex;
    height: 100vh;
    align-items: center; 
    justify-content: center;
    min-width: 335px;
}
.button {
    width:100%;
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 8px;
    text-align: center;
    font-weight: bolder; 
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: inherit;
}
.button:hover {
    background-color: #555555;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555555;
    color: white;
    text-align: center;
}
p{
    font-size:12px
}

.positive-response
{
    color:green;
    font-weight: bold;
}
.negative-response
{
    color:red;
    font-weight: bold;
}
.neutral-response
{
    font-weight: bold;
}
